@import "tailwindcss/preflight";
@import "tailwindcss/utilities";


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* Loading Bar */
.load-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fdba2c;
    z-index: 1500; /* Ensuring it's on top */
}

.bar {
    content: "";
    display: inline;
    position: relative;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;
}

.bar:nth-child(1) {
    background-color: #da4733;
    animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
    background-color: #3b78e7;
    animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
    background-color: #fdba2c;
    animation: loading 3s linear 2s infinite;
}

@keyframes loading {
    from {
        left: 50%;
        width: 0;
        z-index: 100;
    }
    33.3333% {
        left: 0;
        width: 100%;
        z-index: 10;
    }
    to {
        left: 0;
        width: 100%;
    }
}

/* Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #202020;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
    z-index: 1200; /* Ensuring it is above other content */
    transform: translateX(-100%); /* Hidden by default */
}

/* Show Sidebar */
.sidebar.active {
    transform: translateX(0);
}

/* Sidebar Links */
.sidebar div {
    padding: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background 0.3s;
}

.sidebar div:hover {
    background-color: #383838;
}

/* Hamburger Menu Button */
.menu-button {
    position: fixed;
    top: 11px;
    margin-top: 7px;
    margin-left: 20px;
    z-index: 1300; /* Ensuring it's always above everything */
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* Sidebar Backdrop */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1100;
    display: none; /* Initially hidden */
}

/* Show backdrop when sidebar is open */
.backdrop.active {
    display: block;
}